@charset "UTF-8";

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

body {
  font-family: 'Labo';
}

.is-raleway {
  font-family: 'Raleway';
}

.is-raleway_weight {
  font-weight: 600;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  text-align: center;
  background-color: #ffffff;
}

.fa-bolt {
  margin: 0 auto;
  float: left;
  color: #4e4e4e;
}

.contact_btn {
  width: 50px;
  padding: 14px 12px;
  float: right;
  font-size: 12px;
  text-align: center; 
  transition-duration: 0.3s;
  text-decoration: none;
  color: #ffffff;
  background-color: #74cfae
}

.contact_btn:hover {
  color: #333;
}

.title_bolt {
padding-top: 70px;
background-color: #f2f2f2;
}

.title_bolt-theme-inner {
  text-align: center;
}

.title_bolt-theme {
  margin-bottom: 20px;
  font-size: 90px;
  color: #74cfae;
}

.subtitle_bolt-theme {
  font-size: 30px;
  color: #c0c0c0;
}

.green-wrapper {
  background-color: #74cfae;
}

.green-wrapper-theme-inner {
  display: inline-block;
  width: 750px;
  margin-left: 100px;
}

.green-inner-center {
  text-align: center;
}

.green-wrapper_title {
  margin-bottom: 35px;
  font-size: 24px;
  color: #ffffff;
}

.green-wrapper_text {
  line-height: 25px;
  font-size: 20px;
  color: #ffffff;
}

.iphone_img {
  float: left;
}

.white-wrapper {
  background-color: #f2f2f2;
}

.white-wrapper_text {
  width: 540px;
  line-height: 25px;
  float: left;
  text-align: center;
  color: #333333;
}

.white-wrapper_btn {
  margin-left: 90px; 
  padding: 14px 20px;
  float: left;
  background-color: #74cfae
}

.white-wrapper_btn_text {
  font-size: 12px;
  text-decoration: none;
  transition-duration: 0.3s;
  color: #ffffff;
}

.white-wrapper_btn_text:hover {
  color: #333;
}

.white-wrapper_center {
  width: 730px;
  margin: 0 auto;
  margin-top: 90px;
}

.white-wrapper_title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  color: #333333;
}

.white-wrapper_src {
  display: inline-block;
  vertical-align: middle;
  z-index: 0;
}

.work-content_first {
  margin-left: 0;
}

.work-content_normal {
  margin-left: 100px;
}

.work-content_bottom {
  margin-top: 80px;
}

.white_img {
  float: left;
  transition-duration: 0.3s;
  opacity: 0.7;
}

.white_img:hover {
  opacity: 1;
}

.black-wrapper {
  background-color: #4e4e4e;
}

.black-wrapper_text {
  margin-bottom: 50px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.black-wrapper_center {
  text-align: center; 
}

.black-wrapper_src-first {
  display: inline-block;
}

.black-wrapper_src {
  display: inline-block;
  margin-left: 180px;
}

.black-wrapper_src_text {
  margin: 15px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

nav {
  padding: 200px 0 200px 0;
  background-color: #f2f2f2;
}

.fab {
  font-size: 40px;
}

.fas {
  font-size: 40px;
}

.icon_btn-wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.icon_btn {
  width: 185px;
  height: 80px;
  margin: 0 auto;
  padding-top: 30px;
  transition-duration: 0.3s;
  color: #74cfae;
  background-color: #f2f2f2;
}

.icon_btn:hover {
  background-color: #ffffff;
}

footer {
  width: 100%;
  background-color: #74cfae;
}

.footer_text {
  float: right;
  font-size: 16px;
  color: #ffffff;
  background-color: #74cfae
}

@media (max-width:1500px) {

  .header-inner {
    margin: 12px 0 14px 0;
  }

  .title-inner{
    padding: 250px 0 250px 0;
  }

  .green-inner {
    padding-top: 50px;
  }

  .white-inner {
    padding: 60px 0 70px 0;
  }

  .black-inner {
    padding: 70px 0 100px 0; 
  }

  .footer-inner {
    padding: 20px 0 25px 0;
  }
}

@media (max-width:1199px) {

  .inner {
    width: 97%;
    margin: 0 auto;
    text-align: center;
  }

  .iphone_img {
    clear: left;
    text-align: center;
    padding-bottom: 20px; 
  }

  .center {
    margin: 0 auto;
  }

  .green-wrapper-theme-inner {
    text-align: center;
    margin-left: 0;
    width: 80%;
  }

.white-wrapper_center {
  width: 90%;
}

  .white-wrapper_text {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
    float: none;
  }

  .white-wrapper_btn {
    margin: 0 auto;
    width: 100px;
    float: none;
  }

  .black-wrapper {
    margin: 0 auto;
  }

  .black-wrapper_src {
    display: block;
    margin: 0 auto;
    padding-bottom: 80px; 
  }
}


@media (max-width:767px) {

  .inner {
    width: 97%;
    margin: 0 auto;
    text-align: center;
  }

  .contact_btn {
    padding: 10px;
    border:1px solid #ddd;
    border-radius: 4px;
  }
}
