@charset "UTF-8";

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

body {
  font-family: 'Labo';
}

.is-raleway {
  font-family: 'Raleway';
}

.is-raleway_weight {
  font-weight: 600;
}

.inner {
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  text-align: center;
  background-color: #ffffff;
}

.header-inner {
  padding: 12px 0 14px 0;
}

.fa-bolt {
  margin: 0 auto;
  float: left;
  color: #4e4e4e;
}

.title_bolt {
padding-top: 70px;
background-color: #f2f2f2;
}

.title_bolt-theme-inner {
  text-align: center;
}

.title_bolt-theme {
  margin-bottom: 20px;
  color: #74cfae;
}

.subtitle_bolt-theme {
  font-size: 30px;
  color: #c0c0c0;
}

.green-wrapper {
  background-color: #74cfae;
}

.green-wrapper-theme-inner {
  display: inline-block;
}

.green-inner-center {
  text-align: center;
}

.green-wrapper_title {
  margin-bottom: 35px;
  font-size: 24px;
  color: #ffffff;
}

.green-wrapper_text {
  line-height: 25px;
  font-size: 20px;
  color: #ffffff;
}

.white-inner {
  padding: 60px 0 70px 0;
  text-align: center;
}

.white-wrapper {
  background-color: #f2f2f2;
}

.white-wrapper_text {
  line-height: 25px;
  text-align: center;
  color: #333333;
}

.white-wrapper_btn {
  padding: 14px 20px;
  background-color: #74cfae
}

.white-wrapper_btn_text {
  font-size: 12px;
  text-decoration: none;
  transition-duration: 0.3s;
  color: #ffffff;
}

.white-wrapper_btn_text:hover {
  color: #333;
}

.white-wrapper_center {
  margin: 0 auto;
}

.white-wrapper_title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  color: #333333;
}

.white-wrapper_src {
  z-index: 0;
}

img {
  vertical-align: bottom;
  }

.white_img {
  transition-duration: 0.3s;
  opacity: 0.7;
}

.white_img:hover {
  opacity: 1;
}

.black-wrapper {
  background-color: #4e4e4e;
}

.black-wrapper_text {
  margin-bottom: 50px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.black-wrapper_center {
  text-align: center; 
}

.black-wrapper_src_text {
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

nav {
  background-color: #f2f2f2;
}

.fab {
  font-size: 40px;
}

.fas {
  font-size: 40px;
}

.icon_btn-wrapper {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.icon_btn {
  padding: 30px 0;
  margin: 0 auto;
  padding-top: 30px;
  transition-duration: 0.3s;
  color: #74cfae;
  background-color: #f2f2f2;
}

.icon_btn:hover {
  background-color: #ffffff;
}

footer {
  width: 100%;
  background-color: #74cfae;
}

.footer_text {
  float: right;
  font-size: 16px;
  color: #ffffff;
  background-color: #74cfae
}

@media screen and (min-width:1200px) {

  .inner {
    width: 1100px;
  }

  .hamberger {
    display: none;
  }

  .contact_btn {
    width: 50px;
    padding: 14px 12px;
    float: right;
    text-decoration: none;
    background-color: #74cfae
  }

  .contact_btn-text {
    transition-duration: 0.3s;
    font-size: 12px;
    text-align: center; 
    color: #ffffff;
  }
  
  .contact_btn-text:hover {
    color: #333;
  }

  .title-inner{
    padding: 250px 0 250px 0;
  }

  .title_bolt-theme {
    font-size: 90px;
  }

  .green-inner {
    padding-top: 50px;
  }

  .green-wrapper-theme-inner {
    width: 750px;
    margin-left: 100px;
  }

  .iphone_img {
    float: left;
  }

  .white_img {
    float: left;
  }

  .work-content_first {
    margin-left: 0;
  }

  .white-wrapper_src {
    display: inline-block;
    vertical-align: middle;
  }

  .white-wrapper_text {
    width: 540px;
    float: left;
  } 
  
  .white-wrapper_btn {
    margin-left: 90px; 
    float: left;
  }

  .white-wrapper_center {
    width: 730px;
    margin-top: 90px;
  }
  
  .work-content_normal {
    margin-left: 100px;
  }
  
  .work-content_bottom {
    margin-top: 80px;
    float: left;
  }

  .black-inner {
    padding: 70px 0 100px 0; 
  }

  .black-wrapper_src {
    display: inline-block;
    margin-left: 180px;
  }

  .black-wrapper_src:first-child {
    margin-left: 0;
  }

  nav {
    padding: 200px 0 200px 0;
  }

  .icon_btn {
    width: 185px;
  }

  .icon_btn-wrapper {
    display: flex;
  }

  .footer-inner {
    padding: 20px 0 25px 0;
  }
}

  @media screen and (min-width:768px) and (max-width:1199px) {

    .inner {
      width: 97%;
    }

    .hamberger {
      display: none;
    }

    .contact_btn {
      width: 50px;
      padding: 14px 12px;
      float: right;
      text-decoration: none;
      background-color: #74cfae;
    }
  
    .contact_btn-text {
      transition-duration: 0.3s;
      font-size: 12px;
      text-align: center; 
      color: #ffffff;
    }
    
    .contact_btn-text:hover {
      color: #333;
    }
  
    .title-inner{
      padding: 250px 0 250px 0;
    }

    .title_bolt-theme {
      font-size: 90px;
    }

    .green-inner {
      padding: 50px 0 25px 0;
    }

    .iphone_img {
      margin-bottom: 20px;
    }

    .white-wrapper_src {
      display: inline-block;
    }

    .white_img {
      display: block;
      max-width: 300px;
    }

    .white_img:nth-child(6n + 4) {
      margin-top: 80px;
    }

    .white-wrapper_center {
      width: 730px;
      margin-top: 80px;
    }

    .white-wrapper_text {
      margin-bottom: 40px;
    }

    .white-wrapper_btn {
      margin: 0 auto;
      width: 60px;
    }

    .black-inner {
      padding: 70px 0 100px 0; 
    }

    .black-wrapper_src {
      margin-bottom: 80px;
    }

    nav {
      padding: 200px 0 200px 0;
    }

    .icon_btn {
      width: 25%;
    }

    .icon_btn-wrapper {
      display: flex;
    }

    .footer-inner {
      padding: 20px 0 25px 0;
    }
}


@media screen and (max-width:767px) {

  .inner {
    width: 97%;
  }

  .title-inner{
    padding: 160px 0 130px 0;
  }

  .title_bolt-theme {
    font-size: 80px;
  }

  .hamberger  {
    border: 1px solid #ddd;
    width: 30px;
    height: 20px;
    padding: 10px;
    border-radius: 4px;
    float: right;
  }

  .hamberger span {
    margin-bottom: 5px; 
    border: 1px solid #ddd;
    height: 1px;
    display: block;
  }

  .contact_btn-text {
    display: none;
  }

  .green-inner {
    padding: 50px 0 25px 0;
  }

  .iphone_img {
    margin-bottom: 20px;
  }

  .white-wrapper_src {
    display: inline-block;
  }

  .white_img {
    display: block;
  }

  .white_img:nth-child(6n + 4) {
    margin-top: 80px;
  }

  .white-wrapper_text {
    margin-bottom: 40px;
  }

  .white-wrapper_btn {
    margin: 0 auto;
    width: 60px;
  }

  .white-wrapper_btn_text {
    display: block;
  }

  .white-wrapper_center {
    margin-top: 80px;
  }

  .under-white_img {
    margin-top: 80px;
  }

  .black-inner {
    padding: 70px 0 100px 0; 
  }

  .black-wrapper_src {
    margin-bottom: 80px;
  }

  .black-wrapper_src:last-child {
    margin-bottom: 0;
  }

  nav {
    padding: 50px 15px 50px 15px;
  }

  .icon_btn-wrapper {
    vertical-align: center;
    text-align: center;
  }

  .icon_btn {
    display: block;
    width: 100%;
  }

  .footer-inner {
    padding: 20px 0 25px 0;
  }
}
